<div class="new-list-page">
  <div class="new-list-header">
    <h1>Create a New List</h1>
    <p>Give your collection a name</p>
    <div class="back-button-wrapper">
      <%= link_to "â† Back to all lists", lists_path, class: "button button--outline back-button" %>
    </div>
  </div>
  <div class="new-list-form">
    <%= simple_form_for @list do |f| %>
      <div class="form-group">
        <%= f.input :name,
                  label: "List Name",
                  input_html: { class: "form-input", placeholder: "e.g. Classics, Comfort Films, Horror Gems..." },
                  label_html: { class: "form-label" } %>
        <%= f.input :photo, as: :file %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Create List", class: "button button--outline" %>
      </div>
    <% end %>
  </div>
</div>
